<div id="navbarUser">

  <div class="logoHeader">
    <div>
    <img src="../../images/logo2Gobuddy.png" class="logo-small"/>
    </div>
    <div>
    {{#if userInSession}}
      <a href="/auth/buddyView" class="homeLink"><h2>Welcome {{userInSession.username}} !</h2></a>
    {{else}}
      <p>Still no logged in user, sorry!</p>
    {{/if}}
    </div>
  </div>

  {{! doesnt work like this: }}
  {{! <a href="/auth/logout">Logout</a> }}
  {{! works like this but looks ugly: }}
  <div class="nav-wrapper-right">
    <ul>
      <li>
        <button class="navBtn">
          <a href="/auth/buddyView">Overview</a>
        </button>
      </li>
      <li>
        <button class="navBtn">
          <a href="/interact/inbox">Mailbox</a>
        </button>
      </li>
      <li>
        <form id="logout-form" action="/auth/logout" method="POST">
          <button class="navBtn" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<div class="message-wrapper main-content-box">
  <div class="inboxBuddy">
    <h4><strong>Your Conversation with {{tigerContact.username}}:</strong></h4>
      {{#each msgs}}
    {{this.sender.username}} wrote: {{this.content}}
    <br>
    {{/each}}
  </div>

  <div class="writeMessage">
    <h4><strong>Write your answer here:</strong></h4>
    <!-- Input form and submission -->
    <form
      class="message-form"
      method="POST"
      action="/interact/{{tigerContact._id}}/message"
    >
    <div>
      <textarea
        name="typedMessage"
        type="text"
        class="typedMessage"
        placeholder="Type Your Message..."
      /></textarea>
      </div>
      <button type="submit" class="submit update-Btn">Send</button>
    </form>

  </div>
</div>