
<div id="navbarUser">

  <div class="logoHeader">
    <div>
    <img src="../../images/logo2Gobuddy.png" class="logo-small"/>
    </div>
    <div>
    {{#if userInSession}}
     <a href="/auth/tigerView" class="homeLink"><h2>Welcome {{userInSession.username}} !</h2></a>
    {{else}}
      <p>Still no logged in user, sorry!</p>
    {{/if}}
    </div>
  </div>
  
  <div class='nav-wrapper-right'>
    <ul>
        <li>
          <button class="navBtn">
            <a href="/interact/inbox">Mailbox</a>
          </button>
        </li>
        <li>
          <form id="logout-form" action="/auth/logout" method="POST">
            <button class="navBtn" type="submit">Logout</button>
          </form>
        </li>
    </ul>
  </div>
</div>



<div class="main-content-box">
  <div class="inboxTiger">
    <h4><strong>Your Conversation with {{tigerContact.username}}</strong></h4>
    {{! display conversation with user }}
    {{#each msgs}}
    {{this.sender.username}} wrote: {{this.content}}
    <br>
    {{/each}}
  </div>

  <div class="messenger-Box">
    <h3>Write your answer here:</h3>
    <!-- Input form and submission -->
    <form class="message-form" method="POST" action="/interact/{{tigerContact._id}}/message">
      <textarea
        name="typedMessage"
        type="text"
        class="typedMessage"
        placeholder="Type Your Message..."
      /></textarea>
      <br>
      <button type="submit" class="update-Btn">Send</button>
    </form>

  </div>
</div>