<div id="navbarUser">

  <div class="logoHeader">
    <div>
      <img src="../../images/logo2Gobuddy.png" class="logo-small" />
    </div>
    <div>
      {{#if userInSession}}
        <a href="/auth/buddyView" class="homeLink"><h2>Welcome
            {{userInSession.username}}
            !</h2></a>
      {{else}}
        <p>Still no logged in user, sorry!</p>
      {{/if}}
    </div>
  </div>

  <div class="nav-wrapper-right">
    <ul>
      <li>
        <button class="navBtn">
          <a href="/auth/buddyView">Overview</a>
        </button>
      </li>
      <li>
        <button class="navBtn">
          <a href="/interact/inbox">Mailbox</a>
        </button>
      </li>
      <li>
        <form id="logout-form" action="/auth/logout" method="POST">
          <button class="navBtn" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<div class="main-content-box">
  <div class="grid">
    <div class="g-col-6">
      <div class="box-wrapper">
      <h3>Profile of {{tigerDetails.username}}</h3>
      <h4><strong>Topic:</strong> {{tigerDetails.choiceOfAction}}</h4>
      <div class="tigerDetails-wrapper">
        <div>
          <strong>Short Infos:</strong>
          <p>{{tigerDetails.profileInput.tigerIntro}}</p>
          {{! show input of tiger id="tigerIntro" }}
        </div>
        <div>
          <strong>Looking for:</strong>
          {{tigerDetails.profileInput.helpDef}}
          {{! show input of tiger id="helpDef"}}
          <br />
        </div>
      </div>
      <button class="update-Btn"><a
          href="/interact/{{tigerDetails._id}}/message"
        >Contact</a></button>
        </div>
    </div>
  </div>
</div>