<div id="navbarUser">
    <ul>
      <div>
      <li>
        {{#if userInSession}}
          <h2>Welcome {{userInSession.username}} !</h2>
        {{else}}
          <p>Still no logged in user, sorry!</p>
        {{/if}}
      </li>
      </div>
      <div class="navbarUserWrapper">
      <li>
        <button>
          <a href="/auth/buddyView">Go back to overview</a>
        </button>
      </li>
      <li>
        <form id="logout-form" action="/auth/logout" method="POST">
          <button>Logout</button>
        </form>
      </li>
      </div>
    </ul>
</div>


<dev>
  <h2>Profile of {{this.username}}</h2>
  <h3>Looking for: {{this.choiceOfAction}}</h3>
  <dev class="tigerDetails-wrapper">
    <dev>
      Short Infos:
      <p>{{this.profileInput.tigerIntro}}</p>
      {{! show input of tiger id="tigerIntro" }}
    </dev>
    <dev>
      Needs some support for:
      {{this.profileInput.helpDef}}
      {{! show input of tiger id="helpDef"}}
      <br>
    </dev>
  </dev>
  <button><a href="/interact/tigerslist/{{id}}/message">Message</a></button>
</dev>