
<div id="navbarUser">

  <div class="logoHeader">
    <img src="../../images/logo2Gobuddy.png" class="logo-small"/>
    {{#if userInSession}}
      <h2>Welcome {{userInSession.username}} !</h2>
    {{else}}
      <p>Still no logged in user, sorry!</p>
    {{/if}}
  </div>

  {{! doesnt work like this: }}
  {{! <a href="/auth/logout">Logout</a> }}
  {{! works like this but looks ugly: }}
  <div class='nav-wrapper-right'>
    <ul>
        <li>
          <button class="navBtn">
            <a href="/interact/inbox">Mailbox</a>
          </button>
        </li>
        <li>
          <form id="logout-form" action="/auth/logout" method="POST">
            <button class="navBtn">Logout</button>
          </form>
        </li>
    </ul>
  </div>
</div>


<div>
  <h3>People around you in need:</h3>

  <div class="grid">
    {{#each users}}
     <div class="g-col-6">
       <h5>{{this.username}}</h5>
       <div>
      <h6>City: {{this.city}} <br>
      Looking for: {{this.choiceOfAction}}</h6>
      </div>   
      <button class="btn"><a href="/interact/{{id}}">See Details</a></button>
      </div>
    {{/each}}
  </div>

