<div id="navbarUser">

    <ul>
      <div>
      <li>
        {{#if userInSession}}
          <h2>Welcome {{userInSession.username}} !</h2>
        {{else}}
          <p>Still no logged in user, sorry!</p>
        {{/if}}
      </li>
      </div>
      <div class="navbarUserWrapper">
      <li>
        {{!-- search for username mit usertype tiger --}}
        <input type="search" id="searchfield" name="searchfield" placeholder="Search for tigers"/>
      </li>
      <li>
        <button>
          <a href="/auth/buddyView">TEST: Reload the page</a>
        </button>
      </li>
      <li>
        {{! button to refresh page and see if there are new messages }}
        {{!-- <a href="">Mailbox</a> --}}
      </li>
      <li>
        {{!-- doesnt work like this: --}}
        <a href="/auth/logout">Logout</a>
         {{!-- works like this but looks ugly: --}}
         {{!-- <form id="logout-form" action="/auth/logout" method="POST">
            <button>Logout</button>
        </form> --}}
      </li>
      </div>
    </ul>
</div>

<div>
  <h3>People around you in need:</h3>
  <div id="mailboxBuddyWrapper">
    {{#each users}}
      Name: {{this.username}}
      <br>
      City: {{this.city}}
      <br>
      {{!-- Profileinfo:
      {{}} --}}
      <br>
      <button><a href="/interact/tigerslist/{{id}}">See Details</a></button>
      <button><a href="/interact/tigerslist/{{id}}/message">Get In Touch</a></button>
    {{/each}}
  </div>
</div>
