<div id="navbar">
  <navbar>
    <ul>
      <li>
        {{#if userInSession}}
          <h2>Welcome {{userInSession.username}} !</h2>
        {{else}}
          <p>Still no logged in user, sorry!</p>
        {{/if}}
      </li>
      <li>
        {{!-- search for username mit usertype tiger --}}
        <input type="search" id="searchfield" name="searchfield" />
        <label for="searchfield">Search for tigers</label>
      </li>
      <li>
        <button>
          <a href="/auth/buddyView">TEST: Reload the page</a>
        </button>
      </li>
      <li>
        {{! button to refresh page and see if there are new messages }}
        {{!-- <a href="">Mailbox</a> --}}
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
    </ul>
  </navbar>
</div>

<div>
  <h3>People around you in need</h3>
      >>TODO: Alle Tigers aus der gleichen Stadt abbilden + Get in touch button

  <div id="mailboxBuddyWrapper">
    {{!-- {{#each INSERT:___tigersFromDB/From City XY}} --}}
      Name: {{username}}
      <br>
      Born: {{}}
      <br>
      Profileinfo:
      {{}}
      <br>
      <button><a href="/interact/tigerslist/{{id}}">See Details</a></button>
      <button><a href="/interact/tigerslist/{{id}}/message">Get In Touch</a></button>
    {{!-- {{/each}} --}}
  </div>
</div>
